# NOTE: orjson doesnt provide pre-built wheels for ARMv7 for glibc and musl.
# orjson is not available for armv7 + musl yet, but it's available for armv7 +
# libc. we handle that in dockerfile since python environment markers are not
# specific enough.


requests==2.25.1
